<main>
<div>
<h1>Jack Nice Drums</h1>
  
<button (click)='onSnareClick()' 
          [disabled]='loadingSnare'>snare</button>
<br>
  <label for='snarePlaybackRate'>Playback rate:</label>
  <input type='range'
         id='snarePlaybackRate'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='snarePlaybackRate'>
<br>
  <label for='snareGain'>Volume:</label>
  <input type='range'
         id='snareGain'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='snareGain'>
<br>
<br>
  <button (click)='onKickClick()' 
          [disabled]='loadingKick'>kick</button>
<br>
  <label for='kickPlaybackRate'>Playback rate:</label>
  <input type='range'
         id='kickPlaybackRate'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='kickPlaybackRate'>
<br>
  <label for='kickGain'>Volume:</label>
  <input type='range'
         id='kickGain'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='kickGain'>
<br>
<br>
  <button (click)='onClosedhhClick()' 
          [disabled]='loadingClosedhh'>closed hh</button>
<br>
  <label for='closedhhPlaybackRate'>Playback rate:</label>
  <input type='range'
         id='closedhhPlaybackRate'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='closedhhPlaybackRate'>
<br>
  <label for='closedhhGain'>Volume:</label>
  <input type='range'
         id='closedhhGain'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='closedhhGain'>
         
<br>
<br>
  <button (click)='onOpenhhClick()' 
          [disabled]='loadingOpenhh'>open hh</button>
<br>
  <label for='openhhPlaybackRate'>Playback rate:</label>
  <input type='range'
         id='openhhPlaybackRate'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='openhhPlaybackRate'>
<br>
  <label for='closedhhGain'>Volume:</label>
  <input type='range'
         id='openhhGain'
         min='0.01'
         max='5.0'
         step='0.01'
         [(ngModel)]='openhhGain'>
</div>
</main>